.footer{
  text-align: center;
  padding: 80px;
  background-color: #2c2b2b;
}
.links{
  /* display: flex;
  flex-direction: row; */
  text-align: center;
}
.links a{
  font-size: 30px;
  color: #1EDD88;
  padding: 10px;
}
.links p{
  color: rgb(246, 246, 246);
  font-size: 17px;
}
